.header {
    background-color: #FFF;
    display: flex;
    width: 100%;
    margin-bottom: 10px;
}

#header_login {
    width: 120px;
}

.left {
    display: flex;
    align-items: center;
    width: 100%;
    margin-left: 5%;
    padding-top: 0.7%;
}

#menu {
    font-size: 16px;
    color: #666666;
    font-weight: 600;
    margin-left: 10px;
    white-space: nowrap;
    text-align: start;
}

#selected_menu {
    font-size: 1vw;
    color: #222222;
    font-weight: 600;
    margin-left: 1%;
    white-space: nowrap;
    text-align: start;
}

#menu_hospital {
    font-size: 16px;
    color: #666666;
    font-weight: 600;
    margin-left: 40px;
    white-space: nowrap;
    text-align: start;
}

#selected_menu_hospital {
    font-size: 1vw;
    color: #222222;
    font-weight: 600;
    margin-left: 40px;
    white-space: nowrap;
    text-align: start;
}

.right {
    display: flex;
    justify-content: space-between;
    align-items: center;
    float: right;
    margin-right: 5%;
    width: 100%;
    justify-content: right;
}

#logo {
    width: 120px;
    margin-left: 40px;
    margin-right: 1%;
}

#name {
    color: #DDB0E3;
    font-weight: 600;
    margin-left: 5%;
}

.nameDiv {
    flex: 1;
    display: flex;
    align-items: center;
}

.chatDiv {
    flex: 1;
    display: flex;
    align-items: center;
}

#chat {
    font-weight: 600;
    font-size: 16px;
    flex-basis: 0;
}

.login_div {
    display: flex;
    width: 18%;
    margin-right: 4%;
}