.header {
    background-color: #FFF;
    display: flex;
    width: 100%;
    height: 65px;
    justify-content: space-between;
    overflow-x: hidden;
    z-index: 10000;
}

.header_my_name_info {
    display: flex;
    flex-direction: row;
}

.left {
    display: flex;
    align-items: center;
    width: 696px;
    margin-left: 77px;
    padding-top: 11px;
}

#menu {
    font-size: 18px;
    color: #666666;
    font-weight: 600;
    margin-left: 10px;
    white-space: nowrap;
    text-align: start;
}

#selected_menu {
    font-size: 18px;
    color: #222222;
    font-weight: 600;
    margin-left: 10px;
    white-space: nowrap;
    text-align: start;
}

#menu_hospital {
    font-size: 18px;
    color: #666666;
    font-weight: 600;
    margin-left: 40px;
    white-space: nowrap;
    text-align: start;
}

#selected_menu_hospital {
    font-size: 18px;
    color: #222222;
    font-weight: 600;
    margin-left: 40px;
    white-space: nowrap;
    text-align: start;
}

#menu_hospital:hover, #selected_menu_hospital:hover {
    cursor: pointer;
}

#menu:hover, #selected_menu:hover {
    cursor: pointer;
}

.right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    float: right;
    margin-right: 120px;
    justify-content: right;
}

.profile_container {
    width: 22px;
    height: 22px;
    border-radius: 50%;
    border: 1px solid #D4D4D4;
}

#profile {
    width: 100%;
    height: 100%;
    object-fit:fill;
    border-radius: 50%;
}

#profile:hover {
    cursor: pointer;
}

#logo {
    width: 120px;
    margin-left: 40px;
    margin-right: 7px;
}

#logo:hover {
    cursor: pointer;
}

#name {
    color: #C57CCF;
    font-weight: 600;
    margin-left: 3px;
    white-space: nowrap;
}

.nameDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nameDiv:hover {
    cursor: pointer;
}

.mypage_more_drop_box {
    position: absolute;
    top: 50px;
    width: 160px;
    height: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #FFFFFF;
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    z-index: 99999;
}

.chatDiv {
    display: flex;
    align-items: center;
    margin-left: 10px;
}

.chatDiv:hover {
    cursor: pointer;
}

#chat {
    font-weight: 500;
    font-size: 16px;
    flex-basis: 0;
    color: #222222;
    white-space: nowrap;
}

.chat_icon_div {
    width: 14px;
    height: 14px;
}

#chat_icon {
    width: 100%;
    height: 100%;
}

.login_div {
    display: flex;
    width: 20px;
    height: 20px;
}

.header_logout_div {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 144px;
    height: 29px;
    border-radius: 4px;
    padding-left: 10px;
}

.header_logout_div:hover {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 144px;
    height: 29px;
    background-color: #F5F5F5;
    border-radius: 4px;
    padding-left: 10px;
}

#header_logout {
    font-size: 14px;
    font-weight: 500;
    color: #222222;
}

.hamburger_div {
    width: 20px;
    margin: 0px 10px 0px 10px;
}

#hamburger {
    width: 100%;
    height: 100%;
    object-fit: fill;
    cursor: pointer;
}

#hamburger_close {
    font-size: 30px;
    margin: 0px 10px 0px 10px;
}

.main_disabled {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 65px;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
    overflow: hidden;
}

.hamburger_close_div {
    cursor: pointer;
}

.hamburger_sign_in_div {
    margin: 0px 0px 145px 0;
    padding: 20px 0 0px 30px;
    border-top: 1px solid #D4D4D4;
    cursor: pointer;
}

#hamburger_sign_in {
    font-weight: 500;
    font-size: 14px;
    color: #666666;
}

.hamburger_menu {
    position: absolute;
    top: 65px;
    width: 300px;
    height: 100%;
    background-color: #FFFFFF;
    border-top: 1px solid #D4D4D4;
    z-index: 10000;
    padding: 30px 0px 0px 0px;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
}

.hamburger_menu_item {
    width: 100%;
    height: 40px;
    padding: 0px 0px 0px 30px;
    cursor: pointer;
}

#hamburger_menu_text {
    font-size: 16px;
    font-weight: 600;
    color: #222222;
}

.sign_in_up_div {
    height: 20px;
    text-align: center;
}

#sign_in_up_text {
    font-weight: 600;
    font-size: 14px;
    color: #222222;
    white-space: nowrap;
    margin-left: 5px;
}

.login_right_div {
    display: flex;
    flex-direction: row;
    cursor: pointer;
}

@media (max-width: 920px) {
    .right {
        margin-right: 15px;
    }

    .left {
        width: 696px;
        margin-left: 0px;
        padding-top: 11px;
    }

    #logo {
        margin-left: 10px;
        margin-right: 4px;
    }
}

@media (max-width: 600px) {
    #logo {
        width: 70px;
    }

    .hamburger_div {
        width: 14px;
    }

    #hamburger_close {
        font-size: 20px;
        font-weight: 300;
    }
}