.inquery_div {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    border-top: 1px solid #D4D4D4;
    flex-direction: column;
}

.inquery_wrapper {
    margin-top: 60px;
    width: 700px;
}

.inquery_title_div {
    width: 500px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

#inquery_title {
    font-weight: 700;
    font-size: 32px;
    color: #222222;
}

.inquery_body {
    width: 500px;
    font-size: 0.9vw;
    font-weight: 600;
    margin-top: 2%;
}

.inquery_input_div {
    width: 700px;
    margin-top: 4px;
}

#inquery_input {
    display: flex;
    border: none;
    outline: none;
    font-size: 14px;
    width: 700px;
    padding-left: 14px;
    height: 200px;
    border-radius: 15px;
    border: 1px solid #D4D4D4;
    padding-top: 14px;
}

#inquery_input::placeholder {
    font-size: 14px;
    font-weight: 400;
    color: #999999;
}

.inquery_button_div {
    display: flex;
    background-color: #DFB1E4;
    margin-top: 40px;
    width: 700px;
    height: 40px;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    padding-top: 3.5px;
    padding-bottom: 3.5px;
}

#inquery_button {
    color: white;
    font-size: 15px;
    font-weight: 700;
}

#inquery_sub_title {
    font-weight: 600;
    font-size: 18px;
    color: #444444;
}