.main {
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    justify-content: center;
    overflow-y: hidden;
    overflow-x: hidden;
}

.ad_item_div {
    width: 100%;
}

.main::-webkit-scrollbar {
    display: none;
}

.advertisement {
    width: 100%;
    height: 461px;
}

.recommend_review {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15.5px;
    justify-content: space-between;
    width: 100%;
}

#review_list_profile {
    width: 789px;
    height: 678px;
    border-radius: 50%; /* Add this line */
    object-fit: cover; /* Add this line */
    border: 1px solid #D4D4D4;
}

.recommend_div {
    display: flex;
    width: 810px;
    border-radius: 15px;
    border: double 2.5px transparent;
    background-image: linear-gradient(white, white), 
                      linear-gradient(to right, #A891D4, #FAC1EC);
    background-origin: border-box;
    background-clip: content-box, border-box; 
    box-decoration-break: clone; 
    flex-direction: row;
     /* Add this line */
     box-shadow: 0 0 8px rgba(250, 193, 236, .5);
}

.recommend_text_div {
    padding-left: 14px;
    display: flex;
    flex: 6;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 80px;
    margin-right: 5px;
}

#recommended_title {
    font-family: 'recommended_title';
    color: #222222;
    font-weight: 700;
    font-size: 22px;
    margin-bottom: 0;
    white-space: nowrap;
}

.hotDiv {
    display: flex;
    flex: 9;
    align-items: flex-start;
    margin-top: 9px;
    margin-right: 24px;
}

#hot {
    width: 10%;
}

#more_text {
    color: #DDB0E3;
    font-weight: 700;
    font-family: Pretendard;
    font-size: 16px;
}

.moreDiv {
    flex: 4;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 20px;
}

#week_text {
    font-size: 16px;
    font-weight: 500;
    font-family: Pretendard;
    color: #444444;
    margin-top: 5.7px;
    white-space: nowrap;
}

.review_div {
    display: flex;
    width: 809px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.mainBody {
    width: 100%;
    height: 117px;
}

.search_div {
    width: 809px;
    height: 53px;
    display: flex;
    justify-content: space-between;
}

.filter_div {
    display: flex;
    margin-top: 8px;
    align-items: flex-end;
}

.filter_wrapper {
    display: flex;
    flex-direction: row;
}

.filter_cotainer {
    width: 18px;
    height: 18px;
    margin-right: 5px;
    display: flex;
}

#filter {
    width: 100%;
    height: 100%;
}

.filter_text {
    position: relative;
}

.filter_item_div {
    position: absolute;
    top: 0;
    width: 82px;
    height: 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background: #FFFFFF;
    border-radius: 10px;
    filter: drop-shadow(0px 4px 12px rgba(0, 0, 0, 0.15));
}

#filter_item1 {
    font-weight: 500;
    font-size: 12px;
    width: 77px;
    text-align: start;
    color: #666666;
    margin-left: 5px;
    margin-top: 8px;
}

#filter_item2 {
    font-weight: 500;
    font-size: 12px;
    width: 77px;
    text-align: start;
    color: #666666;
    margin-left: 5px;
    margin-top: 8px;
}

#filter_item3 {
    font-weight: 500;
    font-size: 12px;
    width: 77px;
    text-align: start;
    color: #666666;
    margin-left: 5px;
    margin-top: 8px;
}

.review_list_div {
    width: 809px;
    margin-top: 15.5px;
}

.docs_hos_review_list_div {
    width: 809px;
    margin-top: 15.5px;
    margin-bottom: 60px;
}

.review_item_div {
    margin-bottom: 8px;
    border-radius: 15px;
    border: 1px solid #D4D4D4;
    padding-top: 4px;
    padding-bottom: 4px;
}

#advertisement_img {
    width: 100%;
    height: 414px;
    object-fit: fill;
}

.make_review_button_div {
    position: fixed;
    display: flex;
    bottom: 10%;
    right: 15%;
    padding: 15.5px;
    width: 1.5%;
    background: linear-gradient(180deg, #D0ABF0 0%, #D69FE0 100%);
    box-shadow: 0px 4px 11px rgba(0, 0, 0, 0.2);
    border-radius: 50%;
    justify-content: center;
    align-items: center;
}

#pencil {
    width: 100%;
    height: 100%;
}