.my_recommend_review_div {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-top: 1px solid #d4d4d4;
    margin-top: 2px;
}

.my_recommend_review_header {
    margin-top: 31px;
    width: 619px;
    justify-content: space-between;
    display: flex;
}

.my_review_item_list_div {
    width: 619px;
    margin-top: 10px;
}

@media (max-width: 640px) {
    .my_recommend_review_header {
        width: 419px
    }
    
    .my_recommend_review_div {
        width: 419px;
        padding-left: 10px;
    }

    .my_review_item_list_div {
        width: 419px;
    }
}

@media (max-width: 440px) {
    .my_recommend_review_header {
        width: 300px
    }
    
    .my_recommend_review_div {
        width: 300px;
        padding-left: 10px;
    }

    .my_review_item_list_div {
        width: 300px;
    }
}