.mypage_div {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-top: 1px solid #d4d4d4;
    margin-top: 5px;
}

.mypage_title_div {
    margin-top: 30px;
    width: 619px;
    justify-content: space-between;
    display: flex;
}

.mypage_title_left_div {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

#mypage_name {
    font-weight: 700;
    font-size: 32px;
    white-space: nowrap;
    color: #222222;
    margin-right: 3px;
}

#mypage_sir {
    display: flex;
    font-weight: 700;
    font-size: 24px;
    margin-right: 10px;
    color: #222222;
}

.mypage_name_div {
    display: flex;
    justify-content: flex-start;
}

.modify_mypage_button_div {   
    display: flex;
    flex-direction: row;
    margin-left: 1%;
    align-items: flex-end;
}

#mypage_setting_button {
    width: 100px;
    height: fit-content;
}

#write_review {
    width: 110px;
    height: fit-content;
}

.write_review_button {
    width: 110px;
    display: flex;
    align-items: flex-end;
}

.mypage_title_right_div {
    display: flex;
    align-items: flex-end;
}

.mypage_body {
    margin-top: 25px;
    width: 619px;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;    
}

.my_review_items_div {
    margin-left: 3.1px;
}

.mypage_review_div{
    margin-bottom: 18.6px;
}

.mypage_comment_div {
    margin-bottom: 18.6px;
}

#my_page_sub_title {
    font-weight: 700;
    font-size: 18px;
    color: #222222;
    margin-bottom: 10px;
}

#my_page_more {
    font-weight: 700;
    font-size: 16px;
    margin-bottom: 10px;
    color: #DDB0E3;
}

.mypage_review_header_div {
    margin-bottom: 6.2px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.mypage_bottom {
    width: 619px;
    margin-bottom: 46.5px;
}

.promotion_div {
    width: 100%;
}

#mypage_advertisement_img {
    width: 100%;
    height: 164px;
    object-fit: fill;
}