.my_recommend_review_div {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: 1px solid #d4d4d4;
    margin-top: 2px;
    height: 100%;
    min-height: calc(100vh - 65px);
    justify-content: space-between;
}

.my_recommend_review_header {
    margin-top: 31px;
    width: 619px;
    justify-content: space-between;
    display: flex;
}

#my_recommend_review_title {
    font-weight: 700;
    font-size: 36px;
    white-space: nowrap;
    margin-right: 10px;
    color: #222222;
}

.my_review_item_list_div {
    width: 619px;
    margin-top: 5px;
}

@media (max-width: 920px) {
    #my_recommend_review_title {
        font-size: 24px;
    }
}