.myreview_div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 97%;
    border-bottom: 1px solid #D4D4D4;
    margin-bottom: 12px;
    padding-bottom: 6px;
}

#my_review_title {
    color: #444444;
    font-size: 15px;
    font-weight: 500;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#my_review_date {
    color: #D4D4D4;
    font-size: 12px;
    font-weight: 500;
}

.nth_container {
    display: flex;
    flex-direction: row;
    width: 300px;
}

.nth_button_div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border: 1px solid #d4d4d4;
    filter: drop-shadow(0px 4px 6px rgba(0, 0, 0, 0.08));
    border-radius: 100px;
    padding: 3px 10px;
    cursor: pointer;
    margin: 0 10px;
}

#nth_text {
    font-weight: 600;
    font-size: 12px;
    color: #999999;
    margin-right: 5px;
    white-space: nowrap;
}

#pen {
    width: 12px;
    height: 12px;
}

.nth_right_div {
    display: flex;
    flex-direction: row;
    align-items: center;
}

@media (max-width: 640px) {
    .nth_container {
        width: 200px;
    }
}

@media (max-width: 440px) {
    .nth_container {
        width: 100px;
    }
}