.review_page_div {
    width: 100%;
    border-top: 1px solid #D4D4D4;
    margin-top: 0.5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}

.make_review_title_div {
    margin-top: 3%;
    width: 68%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#make_review_title {
    width: 90%;
    font-weight: 700;
    font-size: 1.5vw;
    color: #222222;
}

.apply_review_button_div {
    background: #DFB1E4;
    border-radius: 20px;
    width: 5%;
    padding-top: 0.5%;
    padding-bottom: 0.75%;
    padding-left: 0.8%;
    padding-right: 0.8%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    filter: drop-shadow(0px 4px 11px rgba(0, 0, 0, 0.12));
}

#apply_review_text {
    color: white;
    font-size: 0.8vw;
    font-weight: 700;
}

.make_review_category_div {
    width: 68%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: 1.1%;
}

#make_review_category_text {
    font-weight: 600;
    font-size: 0.95vw;
    color: #444444;
    white-space: nowrap;
}

#make_review_sub_title_text {
    font-weight: 600;
    font-size: 0.95vw;
    color: #444444;
    white-space: nowrap;
    margin-right: 2%;
    display: flex;
    align-items: center;
}

.check_box {
    margin-left: 1%;
    display: flex;
    flex-direction: row;
}

.check_box_wrapper {
    border-radius: 50%;
    width: 0.95vw;
}

.checkbox_container {
    width: 30%;
    display: flex;
    margin-right: 15%;
}

.before_checkbox_container {
    width: 15%;
    display: flex;
    margin-right: 5%;
}

#checkbox {
    width: 100%;
}

#checkbox_label {
    white-space: nowrap;
    font-size: 0.8vw;
    font-weight: 500;
}

.make_review_sub_title {
    width: 68%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: 1.5%;
    padding-bottom: 1%;
}

#make_review_form {
    width: 100%;
}

.make_review_category_input {
    width: 100%;
    border-bottom: 1px solid #D4D4D4;
    padding-bottom: 0.3%;
}

#make_review_input {
    border: none;
    outline: none;
    font-size: 0.77vw;
    color: #D4D4D4;
    font-weight: 500;
}

.make_review_part_div {
    width: 68%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    margin-top: 0.8%;
}

.make_review_picture_div {
    width: 68%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    margin-top: 0.8%;
}

#make_review_add_picture_warning {
    margin-top: 1%;
}

.make_review_pictures_div {
    width: 68%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    margin-top: 0.8%;
}

.make_review_picture_input_div {
    display: flex;
    flex-direction: row;
    margin-top: 5%;
}

.make_review_add_picture_wrapper {
    display: flex;
    flex-direction: column;
    width: 240px;
}

.make_review_add_picture_div {
    width: 100%;
    height: 240px;
    border: 1px solid #C4C4C4;
    border-radius: 15px;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    position: relative;
}

.add_picture_button {
    width: 150px;
    height: 240px;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    position: relative;
}

.add_picture_plus_div {
    width: 30%;
}

.make_review_hospital_div {
    width: 68%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    margin-top: 0.8%;
}

.add_picture_wrapper {
    width: 20%;
}

#add_picture {
    color: #D4D4D4;
}

.etc_input_div {
    margin-left: 1%;
    border: 1px solid #D4D4D4;
    border-radius: 8px;
    padding-right: 1%;
    padding-left: 1%;
}

.etc_input_div:focus {
    border: 1px solid #DFB1E4;
}

#etc_input_form {
    border: none;
    outline: none;
}

#etc_input {
    padding-left: 5%;
    padding-top: 6%;
    padding-bottom: 4%;
    font-size: 0.8vw;
    border: none;
    outline: none;
}

.doctor_dropbox {
    width: 18%;
}

#select {
    width: 100%;
    padding-top: 4%;
    padding-bottom: 4%;
    border-color: #D4D4D4;
    color: #222222;
    border-radius: 8px;
    font-size: 0.8vw;
    font-weight: 500;
}

#select_doctor {
    width: 100%;
    padding-top: 4%;
    padding-bottom: 4%;
    border-color: #D4D4D4;
    color: #222222;
    border-radius: 8px;
    font-size: 0.8vw;
    font-weight: 500;
}

#etc_input::placeholder {
    font-size: 0.6vw;
    font-weight: 500;
}

.total_star_div {
    margin-left: 3%;
    display: flex;
    align-items: center;
    flex-direction: row;
}

#total_star_title {
    white-space: nowrap;
    font-weight: 700;
    font-size: 0.94vw;
    color: #444444;
    margin-right: 6%;
}

.make_review_title_header_div {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.make_review_hospital_body_div {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-left: 4.5%;
}

#start_rate_title {
    font-weight: 700;
    font-size: 0.95vw;
    margin-top: 1.5%;
    margin-bottom: 0.4%;
}

#start_rate_sub_title {
    font-size: 0.8vw;
}

.wysiwyg_div {
    width: 70%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    margin-top: 1%;
}

#period_select {
    border-radius: 8px;
    border-color: #D4D4D4;
    color: #D4D4D4;
    padding: 2%;
    margin-right: 3%;
}

#period_input {
    border: none;
    outline: none;
    width: 85%;
    height: 88%;
    border: 1px solid #D4D4D4;
    padding-left: 5%;
    border-radius: 8px;
    color: #D4D4D4;
}

#period_input_form {
    width: 70%;
}

.start_rate_div {
    display: flex;
    flex-direction: row;
}

.star_rate_wrapper {
    display: flex;
    flex-direction: row;
    width: 7%;
}