.review_page_div {
    width: 100%;
    height: 100vh;
    border-top: 1px solid #D4D4D4;
    margin-top: 2px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.make_review_page_wrapper {
    width: 1000px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 70px;
}

.make_review_title_div {
    margin-top: 40px;
    width: 680px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#make_review_title {
    font-weight: 700;
    font-size: 32px;
    color: #222222;
}

.apply_review_button_div {
    background: #DFB1E4;
    border-radius: 20px;
    width: 70px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    filter: drop-shadow(0px 4px 11px rgba(0, 0, 0, 0.12));
}

#apply_review_text {
    color: white;
    font-size: 14px;
    font-weight: 700;
}

.make_review_category_div {
    width: 680px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: 20px;
}

#make_review_category_text {
    font-weight: 600;
    font-size: 18px;
    color: #444444;
    white-space: nowrap;
}

#make_review_sub_title_text {
    font-weight: 700;
    font-size: 18px;
    color: #444444;
    white-space: nowrap;
    margin-right: 13.6px;
    display: flex;
    align-items: center;
}

.check_box {
    margin-left: 6.8px;
    display: flex;
    flex-direction: row;
}

.checkbox_container {
    width: 19px;
    height: 20px;
    display: flex;
    margin-right: 15%;
}

.before_checkbox_container {
    width: 19px;
    height: 20px;
    display: flex;
    margin-right: 5px;
}

#checkbox {
    width: 19px;
    height: 20px;
}

#checkbox_label {
    white-space: nowrap;
    font-size: 14px;
    margin-right: 10px;
    font-weight: 500;
}

.make_review_sub_title {
    width: 680px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: 10px;
    padding-bottom: 10px;
}

#make_review_form {
    width: 100%;
}

.make_review_category_input {
    width: 100%;
    border-bottom: 1px solid #D4D4D4;
    padding-bottom: 2px;
}

#make_review_input {
    border: none;
    outline: none;
    font-size: 18px;
    color: #D4D4D4;
    font-weight: 500;
}

.make_review_part_div {
    width: 680px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    margin-top: 10px;
}

.make_review_picture_div {
    width: 680px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    margin-top: 10px;
}

#make_review_add_picture_warning {
    margin-top: 10px;
}

.make_review_pictures_div {
    width: 680px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    margin-top: 10px;
}

.make_review_picture_input_div {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
}

.make_review_add_picture_wrapper {
    display: flex;
    flex-direction: column;
    width: 240px;
    margin-right: 10px;
}

.make_review_add_picture_div {
    cursor: pointer;
    width: 100%;
    height: 240px;
    border: 1px solid #C4C4C4;
    border-radius: 15px;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    position: relative;
}

.add_picture_button {
    width: 150px;
    height: 240px;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    position: relative;
}

.add_picture_plus_div {
    width: 45px;
    height: 45px;
    cursor: pointer;
}

.make_review_hospital_div {
    width: 680px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    margin-top: 10px;
}

.add_picture_wrapper {
    width: 48px;
    height: 48px;
}

#add_picture {
    color: #D4D4D4;
}

.etc_input_div {
    margin-left: 10px;
    border: 1px solid #D4D4D4;
    border-radius: 8px;
    width: 140px;
    height: 38px;
    align-items: center;
    display: flex;
    justify-content: center;
}

.etc_input_div:focus {
    border: 1px solid #DFB1E4;
}

#etc_input_form {
    border: none;
    outline: none;
    width: 95%;
}

#etc_input {
    width: 128px;
    height: 27px;
    font-size: 14px;
    border: none;
    outline: none;
}

.doctor_dropbox {
    width: 123px;
}

#select {
    width: 100%;
    height: 38px;
    border-color: #D4D4D4;
    color: #222222;
    border-radius: 8px;
    font-size: 14px;
    font-weight: 500;
}

#select_doctor {
    width: 100%;
    height: 38px;
    border-color: #D4D4D4;
    color: #222222;
    border-radius: 8px;
    font-size: 14px;
    font-weight: 500;
}

#etc_input::placeholder {
    font-size: 14px;
    font-weight: 500;
}

.make_review_title_header_div {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.make_review_hospital_body_div {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-left: 40px;
}

#start_rate_title {
    font-weight: 700;
    font-size: 18px;
    margin-top: 15px;
    margin-bottom: 5px;
}

#start_rate_sub_title {
    font-size: 15px;
}

.wysiwyg_div {
    width: 700px;
    height: 200px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    margin-top: 10px;
}

#period_select {
    border-radius: 8px;
    border-color: #D4D4D4;
    color: #D4D4D4;
    padding: 2%;
    margin-right: 3%;
}

#period_input {
    border: none;
    outline: none;
    width: 85%;
    height: 88%;
    border: 1px solid #D4D4D4;
    padding-left: 5%;
    border-radius: 8px;
    color: #D4D4D4;
}

#period_input_form {
    width: 70%;
}

.start_rate_div {
    display: flex;
    flex-direction: row;
}

.star_rate_wrapper {
    display: flex;
    flex-direction: row;
    width: 7%;
}