.nth_review_write_page_div {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nth_review_write_page_title_div {
    display: flex;
    width: 1160px;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 20px;
    margin-bottom: 20px;
    align-items: center;
}

.nth_review_write_page_wrapper {
    width: 1200px;
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

#nth_review_write_page_title {
    font-weight: 700;
    font-size: 32px;
    color: #222222;
}

.nth_review_write_page_button_div {
    display: flex;
    background: #DFB1E4;
    border-radius: 20px;
    width: 80px;
    height: 30px;
    align-items: center;
    justify-content: center;
    filter: drop-shadow(0px 4px 11px rgba(0, 0, 0, 0.09));
    cursor: pointer;
}

#nth_review_write_page_button {
    font-weight: 700;
    font-size: 14px;
    color: white;
}

.nth_review_write_page_wysiwyg_div {
    width: 100%;
}

@media (max-width: 1180px) {
    .nth_review_write_page_title_div {
        width: 720px;
    }

    .nth_review_write_page_wysiwyg_div {
        width: 760px;
    }

    .nth_review_write_page_wrapper {
        width: 760px;
    }
}

@media (max-width: 735px) {
    .nth_review_write_page_title_div {
        width: 300px;
    }

    .nth_review_write_page_wysiwyg_div {
        width: 340px;
    }

    .nth_review_write_page_wrapper {
        width: 340px;
    }

    #nth_review_write_page_title {
        font-size: 24px;
    }

    .nth_review_write_page_button_div {
        width: 60px;
    }

    #nth_review_write_page_button {
        font-size: 11px;
    }
}