.part_category_div {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
}

.part_category_item_div {
    margin-right: 5px;
    border: 1.5px solid #DDB0E3;
    border-radius: 20px;
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 1%;
    padding-bottom: 1%;
}

#part_category_item {
    white-space: nowrap;
    color: #DDB0E3;
    font-size: 13px;
    font-weight: 600;
    text-align: center;
}