.review_detail_div {
    width: 100%;
    height: 100vh;
    border-top: 1px solid #D4D4D4;
    margin-top: 2px;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}

.review_detail_wrapper {
    margin-top: 31px;
    width: 705px;
    display: flex;    
    flex-direction: column;
    margin-bottom: 50px;
}

.tags_div {
    display: flex;
    flex-direction: row;
}

.tag_div {
    border: 1.5px solid #DDB0E3;
    border-radius: 20px;
    padding-top: 3.5px;
    padding-bottom: 3.5px;
    padding-left: 12.7px;
    padding-right: 12.7px;
    margin-right: 7px;
}

#tag {
    font-size: 14px;
    color: #DDB0E3;
    font-weight: 600;
}

.review_detail_title_div {
    margin-top: 5px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    margin-top: 10px;
    width: 696.29px;
}

#review_detail_title {
    font-size: 32px;
    font-weight: 700;
    color: #202020;
}

.profile_edit_div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 696.29px;
    margin-top: 10px;
    height: 30px;
}

.profile_right_div {
    display: flex;
    flex-direction: row;
    width: 66px;
    justify-content: space-between;
}

#post_edit_button {
    color: #999999;
    font-size: 14px;
    text-align: end;
    white-space: nowrap;
}

#post_delete_button {
    color: #E95454;
    font-size: 14px;
    white-space: nowrap;
}

.review_detail_image_div {
    width: 696.29px;
    margin-bottom: 10px;
}

.review_first_detail {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
    margin-top: 10px;
}

#first_review_title {
    font-size: 18px;
    font-weight: 700;
    white-space: nowrap;
    color: #222222;
}

#review_created_at {
    font-size: 14px;
    font-weight: 500;
    color: #D4D4D4;
    display: flex;
    align-items: flex-end;
    margin-left: 6px;
    padding-bottom: 5px;
}

.review_detail_image_item_div {
    width: 696.29px;
    height: 300px;
    border-left: 1px solid #D4D4D4;
    border-right: 1px solid #D4D4D4;
    border-top: 1px solid #D4D4D4;
    border-radius: 15px 15px 0px 0px;
    outline: none;
}

.review_detail_image_item_description_div {
    height: 38px;
    width: 696.29px;
    display: flex;
    align-items: center;
    border-radius: 0px 0px 15px 15px;
    border: 1px solid #D4D4D4;
}

#review_detail_img {
    width: 100%;
    height: 100%;
    object-fit: fill;
    border-radius: 15px 15px 0px 0px;
}

#review_detail_image_number {
    padding-left: 15px;
    font-size: 14px;
    font-weight: 500;
    color: #666666;
}

.review_image_dot_div {
    width: 696.29px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#review_image_dot {
    width: 20px;
    margin-right: 5px;
}

#review_image_pupple_dot {
    width: 20px;
    margin-right: 5px;
}

.profile_left_div {
    display: flex;
    flex-direction: row;
}

.profile_info_div {
    border-radius: 50%;
    width: 48px;
    height: 48px;
}

#profile_picture {
    object-fit: fill;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.profile_info_text_div {
    display: flex;
    flex-direction: column;
    margin-left: 5px;
    align-items: flex-start;
    justify-content: center;
}

#nickname {
    font-size: 14px;
    color: #666666;
    display: flex;
    align-items: flex-start;
    font-weight: 500;
}

#date {
    color: #D4D4D4;
    font-size: 12px;
    white-space: nowrap;
    font-weight: 500;
}

.slick-dots li button:before {
    color: #D4D4D4;  /* 원하는 색상으로 변경 */
}
.slick-dots li.slick-active button:before {
    color: #DDB0E3;  /* 활성화된 dot의 색상을 변경 */
}