.review_detail_div {
    min-height: calc(100vh - 65px);
    width: 100%;
    height: 100%;
    border-top: 1px solid #D4D4D4;
    margin-top: 2px;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
}

.review_detail_wrapper {
    margin-top: 31px;
    width: 705px;
    display: flex;    
    flex-direction: column;
    margin-bottom: 50px;
}

.tags_div {
    display: flex;
    flex-direction: row;
}

.tag_div {
    border: 1.5px solid #DDB0E3;
    border-radius: 20px;
    padding-top: 3.5px;
    padding-bottom: 3.5px;
    padding-left: 12.7px;
    padding-right: 12.7px;
    margin-right: 7px;
}

#tag {
    font-size: 14px;
    color: #DDB0E3;
    font-weight: 600;
}

.review_detail_title_div {
    margin-top: 5px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    margin-top: 10px;
    width: 696.29px;
}

#review_detail_title {
    font-size: 32px;
    font-weight: 700;
    color: #202020;
}

.profile_edit_div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 696.29px;
    margin-top: 10px;
    height: 30px;
}

.profile_right_div {
    display: flex;
    flex-direction: row;
    width: 80px;
    justify-content: space-between;
}

#post_edit_button {
    color: #999999;
    font-size: 14px;
    text-align: end;
    white-space: nowrap;
    cursor: pointer;
}

#post_delete_button {
    color: #E95454;
    font-size: 14px;
    white-space: nowrap;
    cursor: pointer;
}

.review_detail_image_div {
    width: 696.29px;
    margin-bottom: 10px;
}

.review_first_detail {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
    margin-top: 10px;
}

#first_review_title {
    font-size: 18px;
    font-weight: 700;
    white-space: nowrap;
    color: #222222;
}

#review_created_at {
    font-size: 14px;
    font-weight: 500;
    color: #D4D4D4;
    display: flex;
    align-items: flex-end;
    margin-left: 6px;
    padding-bottom: 5px;
}

.review_detail_image_item_div {
    width: 696.29px;
    height: 300px;
    border-left: 1px solid #D4D4D4;
    border-right: 1px solid #D4D4D4;
    border-top: 1px solid #D4D4D4;
    border-radius: 15px 15px 0px 0px;
    outline: none;
}

.review_detail_image_item_description_div {
    height: 38px;
    width: 696.29px;
    display: flex;
    align-items: center;
    border-radius: 0px 0px 15px 15px;
    border: 1px solid #D4D4D4;
}

#review_detail_img {
    width: 100%;
    height: 100%;
    object-fit: fill;
    border-radius: 15px 15px 0px 0px;
}

#review_detail_image_number {
    padding-left: 15px;
    font-size: 14px;
    font-weight: 500;
    color: #666666;
}

.review_image_dot_div {
    width: 696.29px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#review_image_dot {
    width: 20px;
    margin-right: 5px;
}

#review_image_pupple_dot {
    width: 20px;
    margin-right: 5px;
}

.profile_left_div {
    display: flex;
    flex-direction: row;
}

.profile_info_div {
    border-radius: 50%;
    width: 48px;
    height: 48px;
}

#profile_picture {
    object-fit: fill;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.profile_info_text_div {
    display: flex;
    flex-direction: column;
    margin-left: 5px;
    align-items: flex-start;
    justify-content: center;
}

#nickname {
    font-size: 14px;
    color: #666666;
    display: flex;
    align-items: flex-start;
    font-weight: 500;
}

#date {
    color: #D4D4D4;
    font-size: 12px;
    white-space: nowrap;
    font-weight: 500;
}

.review_page_hr_div {
    width: 100%;
    margin-top: 8px;
    margin-bottom: 14px;       
}

.review_page_review_info_div {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 10px 0px 10px 0px;
}

#review_page_review_info_text {
    font-size: 15px;
    font-weight: 600;
    color: #222222;
    white-space: nowrap;
}

#review_page_review_hr {
    width: 80%;
    border: none;
    border-top: 1px solid #D4D4D4;
}

#doctor_image {
    width: 72px;
    height: 72px;
    border-radius: 50%;

}

.doctor_image_div {
    border-radius: 50%;
}

.review_page_doctor_info_div {
    display: flex;
    flex-direction: row;
    margin-bottom: 5px;
}

#review_page_doctor_name {
    font-weight: 600;
    font-size: 16px;
    color: #222222;
}

.review_page_doctor_detail_info_div {
    display: flex;
    flex-direction: column;
    height: 72px;
    justify-content: center;
    margin-left: 10px;
}

#review_page_hospital_name {
    font-size: 13px;
    color: #666666;
    font-weight: 400;
}

.review_page_star_div {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 72px;
    margin-left: 10px;
}

.detail_quality_info_div {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0px 10px 10px 0px;
}

#quality_data {
    font-weight: 500;
    font-size: 14px;
    color: #444444;
    width: 100px;
}

#quality_right_data {
    font-weight: 500;
    font-size: 14px;
    color: #444444;
    width: 45px;
}

.review_page_consulting_star_div {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 16px;
    margin-left: 10px;
}

.detail_star_div {
    height: 16px;
}

#review_detail_star {
    width: 16px;
    height: 16px;
    margin-right: 3px;
}

.review_page_detail_star_div {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 16px;
    margin-left: 10px;
    margin-right: 10px;
}

.detail_quality_info_left_div {
    display: flex;
    flex-direction: row;
    width: 240px;
}

.review_comment {
    display: flex;
    flex-direction: row;
}

.comment_detail_div {
    display: flex;
    flex-direction: row;
}

#comments_length{
    font-weight: 600;
    font-size: 15px;
    color: #DDB0E3;
    margin: 0 5px 0 0;
}

#comment_detail_text{
    font-weight: 600;
    font-size: 15px;
    color: #222222;
}

#comment_horizontal_tag {
    border: none;
    border-top: 1px solid #D4D4D4;
    width: 600px;
}

.comment_text_area_div {
    display: flex;
    flex-direction: column;
    margin: 10px 0 10px 0;
    border: 1px solid #D4D4D4;
    border-radius: 10px;
    padding: 15px;
    height: 200px;
}

#comment_input_textarea {
    resize: none;
    border: none;
    outline: none;
    margin: 10px 0 0 0;
    width: 670px;
    height: 100px;
}

#comment_input_profile_img {
    width: 32px;
    height: 32px;
    border: 1px solid #D4D4D4;
    border-radius: 50%;
}

.comment_input_profile_div {
    display: flex;
    flex-direction: row;
}

#comment_input_profile_nickname {
    font-weight: 500;
    font-size: 14px;
    color: #222222;
    display: flex;
    align-items: center;
    margin-left: 10px;
}

.comment_input_add_text_div {
    border: 1px solid #D4D4D4;
    border-radius: 20px;
    height: 34px;
    width: 65px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

#comment_input_add_text {
    font-size: 14px;
    font-weight: 500;
    color: #222222;
}

#comment_input_camera_img {
    width: 24px;
    height: 24px;
    cursor: pointer;
}

.comment_input_bottom_div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    width: 680px;
    margin: 17px 0 0 0;
}

@media (max-width: 720px) {
    .review_detail_wrapper {
        width: 505px;
    }

    .profile_edit_div {
        width: 505px;
    }

    .review_detail_title_div {
        width: 100%;
    }

    .review_detail_image_item_div {
        width: 99.5%;
    }

    .review_detail_image_item_description_div {
        width: 99.5%;
    }
}

@media (max-width: 520px) {
    .review_detail_wrapper {
        width: 305px;
    }

    .profile_edit_div {
        width: 305px;
    }

    .review_detail_title_div {
        width: 100%;
    }

    .review_detail_image_item_div {
        width: 99.5%;
    }

    .review_detail_image_item_description_div {
        width: 99.5%;
    }

    #review_detail_title {
        font-size: 24px;
    }

    .profile_info_div {
        width: 38px;
        height: 38px;
    }

    #nickname {
        font-size: 12px;
    }

    #date {
        font-size: 12px;
    }

    #post_delete_button, #review_detail_image_number, #post_edit_button, #review_created_at {
        font-size: 12px;
    }

    #first_review_title {
        font-size: 16px;
    }
}