.login_container {
    box-sizing: border-box;
    width: 100%;
    height: 100vh;
    border-top: 1px solid #666666;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.login_wrapper {
    display: flex;
    width: 466px;
    height: 345px;
    margin-top: 62px;
    padding-top: 31px;
    padding-bottom: 31px;
    border: 1px solid #c4c4c4;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
}

.login_item_div {
    width: 85px;
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
}

.login_id_input_div {
    width: 326.2px;
    margin-bottom: 20px;
    border-bottom: 1px solid #c4c4c4;
}

.pwd_id_input_div {
    width: 326.2px;
    margin-bottom: 20px;
    border-bottom: 1px solid #c4c4c4;
}

.login_button_item_div {
    width: 326.2px;
    margin-bottom: 15px;
    margin-top: 5px;
    background-color: #DFB1E4;
    border-radius: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
}

.login_button_item_div:hover {
    cursor: pointer;
}

.login_more_div {
    width: 326.2px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 20px;
}

#login_item_title {
    font-size: 32px;
    font-weight: 700;
    white-space: nowrap;
    color: #DFB1E4;
}

#login_id_input {
    background-image: url(/public/login/account.png);
    border: none;
    outline: none;
    background-repeat: no-repeat;
    background-position: 5px center;
    position:relative;
    background-size: 18px;
    margin-bottom: 10px;
    margin-top: 10px;
    text-align: left;
    padding-left: 30px;
    width: 100%;
    font-size: 15px;
    color: #222222;
}

#login_id_input::placeholder {
    color: #888888;
}

#login_pwd_input {
    background-image: url(/public/login/pwd.png);
    border: none;
    outline: none;
    background-repeat: no-repeat;
    background-position: 5px center;
    position:relative;
    background-size: 18px;
    margin-bottom: 5px;
    margin-top: 10px;
    text-align: left;
    padding-left: 30px;
    width: 100%;
    font-size: 15px;
    color: #222222;
}

#login_pwd_input::placeholder {
    color: #888888;
}

#login_item_text {
    color: white;
    font-size: 15px;
    font-weight: 600;
}

#find_id {
    font-size: 14px;
    color: #666666;
    padding-right: 6.5px;
    border-right: 1px solid #c4c4c4;
    font-weight: 500;
}

#find_id:hover {
    color: black;
    cursor: pointer;
}

#sign_up {
    font-size: 14px;
    color: #666666;
    margin-left: 6.5px;
    font-weight: 500;
}

#sign_up:hover {
    color: black;
    cursor: pointer;
}