.login_container {
    width: 100%;
    border-top: 1px solid #666666;
    display: flex;
    justify-content: center;
}

.login_wrapper {
    display: flex;
    width: 30%;
    margin-top: 4%;
    padding-top: 2%;
    padding-bottom: 2%;
    border: 1px solid #c4c4c4;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
}

.login_item_div {
    width: 70%;
    margin-bottom: 3%;
    display: flex;
    justify-content: center;
}

.login_id_input_div {
    width: 70%;
    margin-bottom: 3%;
    border-bottom: 1px solid #c4c4c4;
}

.pwd_id_input_div {
    width: 70%;
    margin-bottom: 3%;
    border-bottom: 1px solid #c4c4c4;
}

.login_button_item_div {
    width: 70%;
    margin-bottom: 3%;
    margin-top: 1%;
    background-color: #DFB1E4;
    border-radius: 10px;
    padding-top: 3%;
    padding-bottom: 3%;
    text-align: center;
}

.login_more_div {
    width: 70%;
    margin-bottom: 4%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 4%;
}

#login_item_title {
    font-size: 2.1vw;
    font-weight: 900;
    color: #DFB1E4;
}

#login_id_input {
    background-image: url(/public/login/account.png);
    border: none;
    outline: none;
    background-repeat: no-repeat;
    background-position: 5px center;
    position:relative;
    background-size: 10%;
    font-size: 0.9vw;
    margin-bottom: 2%;
    margin-top: 6%;
}

#login_id_input::placeholder {
    padding-left: 15%;
}

#login_pwd_input {
    background-image: url(/public/login/account.png);
    border: none;
    outline: none;
    background-repeat: no-repeat;
    background-position: 5px center;
    position:relative;
    background-size: 10%;
    font-size: 0.9vw;
    margin-bottom: 2%;
    margin-top: 6%;
}

#login_pwd_input::placeholder {
    padding-left: 15%;
}

#login_item_text {
    color: white;
    font-size: 0.9vw;
    font-weight: 600;
}

#find_id {
    font-size: 0.8vw;
    color: #666666;
    padding-right: 2%;
    border-right: 1px solid #c4c4c4;
    font-weight: 500;
}

#find_pwd {
    font-size: 0.8vw;
    color: #666666;
    padding-right: 2%;
    padding-left: 2%;
    border-right: 1px solid #c4c4c4;
    font-weight: 500;
}

#sign_up {
    font-size: 0.8vw;
    color: #666666;
    padding-left: 2%;
    font-weight: 500;
}