.banner_management_page_div {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: auto;
}

.banner_management_page_title_div {
    margin-top: 60px;
    margin-left: 40px;
}

#banner_management_page_title {
    font-size: 18px;
    font-weight: 600;
    color: #222222;
}

.banner_management_left_div {
    width: 600px;
    height: 645px;
    margin-left: 40px;
    margin-top: 10px;
    background: #ffffff;
    box-shadow: 0px 4px 11px rgba(0, 0, 0, 0.08);
    border-radius: 15px;
    border: 1px solid #d4d4d4;
    overflow-y: scroll;
}

.banner_management_container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}

#banner_management_item_title {
    font-weight: 600;
    font-size: 18px;
    line-height: 21px;
    color: #222222;
    margin-left: 25px;
    margin-top: 30px;
}

.index_div {
    background: #F5F5F5;
    border-bottom: 1px solid #D4D4D4;
    width: 570px;
    margin-left: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 40px;
    align-items: center;
    margin-top: 15px;
}

.index_left_div {
    display: flex;
    flex-direction: row;
    width: 150px;
    justify-content: space-between;
}

#index_sequence {
    margin-left: 20px;
    font-size: 14px;
    color: #222222;
    font-weight: 500;
}

#index_image {
    font-size: 14px;
    color: #222222;
    font-weight: 500;
}

#index_ability {
    font-size: 14px;
    color: #222222;
    font-weight: 500;
    margin-right: 45px;
}

.admin_page_banner_items_div {
    width: 570px;
    height: 80px;
    margin-left: 20px;
    border-bottom: 1px solid #D4D4D4;
    display: flex;
    flex-direction: row; 
    align-items: center;
}

#admin_page_banner_item_index {
    margin-left: 50px;
}

.admin_page_banner_image_div {
    width: 300px;
    margin-left: 50px;
    height: 71px;
}

#admin_page_banner_image {
    width: 100%;
    height: 100%;
}

.admin_page_banner_delete_button_div {
    border: 1px solid #D4D4D4;
    border-radius: 20px;
    width: 100%;
    height: 37%;
    margin-top: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.admin_page_banner_edit_buttons_div {
    display: flex;
    flex-direction: column;
    width: 60px;
    justify-content: space-between;
    margin-left: 70px;
    height: 100%;
}

.admin_page_banner_edit_button_div {
    border: 1px solid #D4D4D4;
    border-radius: 20px;
    width: 62px;
    height: 32.59px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5px;
}

.admin_page_banner_delete_button_div:hover, .admin_page_banner_edit_button_div {
    cursor: pointer;
}

#admin_page_banner_add_button_text {
    font-weight: 600;
    font-size: 18px;
    margin-right: 5px;
}

#admin_page_banner_button_delete {
    font-weight: 500;
    font-size: 14px;
    white-space: nowrap;
    color: #E95454;
}

#admin_page_banner_button_edit {
    font-weight: 500;
    font-size: 14px;
    white-space: nowrap;
    color: #444444;
}

.banner_management_add_button_div {
    width: 200px;
    height: 300px;
    margin-left: 40px;
    margin-top: 40px;
    background: red;
    box-shadow: 0px 4px 11px rgba(0, 0, 0, 0.08);
    border-radius: 100px;
}

.banner_management_page_add_button_div {
    margin-left: 40px;
    margin-top: 25px;
    background: #FFFFFF;
    box-shadow: 0px 4px 11px rgba(0, 0, 0, 0.08);
    border-radius: 100px;
    display: flex;
    width: 150px;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    height: 45px;
}

.banner_management_page_add_button_div:hover {
    cursor: pointer;
}

.banner_management_page_add_button_div:focus {
    cursor: pointer;
}

.banner_detail_page_top_div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 15px;
    margin-left: 15px;
    margin-right: 15px;
}

.banner_detail_page_div {
    position: absolute;
    width: 760px;
    height: 520px;
    background: #FFFFFF;
    border: 1px solid #D4D4D4;
    box-shadow: 0px 4px 11px rgba(0, 0, 0, 0.08);
    border-radius: 15px;
    left: 350px;
    top: 70px;
    z-index: 10;
}

.banner_edit_category_div {
    display: flex;
    height: 40px;
    flex-direction: row;
    margin: 20px 0px 0px 20px;
    align-items: center;
}

.banner_sub_div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
}

.banner_sub_category_div {
    display: flex;
    align-items: center;
    height: 40px;
}

#banner_main_text {
    font-size: 18px;
    font-weight: 600;
    color: #444444;
    white-space: nowrap;
    margin-right: 10px;
}

#banner_link_text {
    font-size: 18px;
    font-weight: 600;
    color: #444444;
    white-space: nowrap;
    margin-left: 20px;
}

#banner_sub_text {
    font-weight: 500;
    font-size: 14px;
    color: #444444;
}

#banner_edit_category_checkbox {
    width: 15px;
    height: 15px;
    margin-right: 2px;
}

#banner_edit_category_checkbox_pupple {
    width: 15px;
    height: 15px;
    margin-right: 2px;
}

#banner_edit_line {
    font-weight: 600;
    font-size: 18px;
    color: #444444;
    margin-right: 10px;
}

.banner_link_add_container {
    margin-left: 20px;
    margin-top: 10px;
}

.banner_link_add_div {
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
}

.banner_link_add_form_div {
    border-bottom: 1px solid #D4D4D4;
    height: 20px;
}

#banner_link_add_form {
    border: none;
    outline: none;
    width: 380px;
    display: flex;
    align-items: center;
}

#banner_link_add_input {
    border: none;
    outline: none;
    width: 100%;
}

#banner_link_add_input::placeholder {
    color: #D4D4D4;
    font-weight: 500;
    font-size: 14px;
}

.banner_info_add_picture_div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 20px;
}

.banner_picture_make_div {
    width: 946px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    margin-top: 10px;
    overflow-x: scroll;
    overflow-y: hidden;
}

#banner_add_picture {
    width: 100%;
    height: 100%;
    object-fit: fill;
    border-radius: 15px;
}

.banner_add_picture_wrapper {
    width: 700px;
    height: 250px;
    border-radius: 15px;
    margin-right: 10px;
    margin-left: 10px;
}

.banner_add_button_wrapper {
    width: 90%;
    display: flex;
    justify-content: flex-end;
    margin-top: 25px;
}

.banner_buttons_div {
    margin-right: 18px;
    margin-top: 20px;
    display: flex;
    justify-content: flex-end;
}

.banner_cancel_button_div {
    cursor: pointer;
    border: 1px solid #D4D4D4;
    border-radius: 20px;
    width: 70px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner_save_button_div {
    cursor: pointer;
    background: #DFB1E4;
    border-radius: 20px;
    width: 70px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    filter: drop-shadow(0px 4px 11px rgba(0, 0, 0, 0.09));
    margin-left: 10px;
}

#banner_cancel_text {
    font-size: 14px;
    font-weight: 700;
    color: #444444;
}

#banner_save_text {
    font-size: 14px;
    font-weight: 700;
    color: #FFFFFF;
}