.banner_management_page_div {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.banner_management_page_title_div {
    margin-top: 60px;
    margin-left: 40px;
}

#banner_management_page_title {
    font-size: 18px;
    font-weight: 600;
    color: #222222;
}

.banner_management_left_div {
    width: 576px;
    height: 645px;
    margin-left: 40px;
    margin-top: 10px;
    background: #ffffff;
    box-shadow: 0px 4px 11px rgba(0, 0, 0, 0.08);
    border-radius: 15px;
    border: 1px solid #d4d4d4;
    overflow-y: scroll;
}

.banner_management_container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}

#banner_management_item_title {
    font-weight: 600;
    font-size: 18px;
    line-height: 21px;
    color: #222222;
    margin-left: 25px;
    margin-top: 30px;
}

.index_div {
    background: #F5F5F5;
    border-bottom: 1px solid #D4D4D4;
    width: 93%;
    margin-left: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 40px;
    align-items: center;
    margin-top: 15px;
}

.index_left_div {
    display: flex;
    flex-direction: row;
    width: 120px;
    justify-content: space-between;
}

#index_sequence {
    margin-left: 20px;
    font-size: 14px;
    color: #222222;
    font-weight: 500;
}

#index_image {
    font-size: 14px;
    color: #222222;
    font-weight: 500;
}

#index_ability {
    font-size: 14px;
    color: #222222;
    font-weight: 500;
    margin-right: 40px;
}

.admin_page_banner_items_div {
    width: 93%;
    height: 80px;
    margin-left: 20px;
    border-bottom: 1px solid #D4D4D4;
    display: flex;
    flex-direction: row; 
    align-items: center;
}

#admin_page_banner_item_index {
    margin-left: 20px;
}

.admin_page_banner_image_div {
    width: 300px;
    margin-left: 55px;
    height: 71px;
}

#admin_page_banner_image {
    width: 100%;
    height: 100%;
}

.admin_page_banner_delete_button_div {
    border: 1px solid #D4D4D4;
    border-radius: 20px;
    width: 100%;
    height: 37%;
    margin-top: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.admin_page_banner_edit_buttons_div {
    display: flex;
    flex-direction: column;
    width: 60px;
    justify-content: space-between;
    margin-left: 70px;
    height: 100%;
}

.admin_page_banner_edit_button_div {
    border: 1px solid #D4D4D4;
    border-radius: 20px;
    width: 100%;
    height: 37%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5px;
}

#admin_page_banner_button_delete {
    font-weight: 500;
    font-size: 14px;
    white-space: nowrap;
    color: #E95454;
}

#admin_page_banner_button_edit {
    font-weight: 500;
    font-size: 14px;
    white-space: nowrap;
    color: #444444;
}

.banner_management_add_button_div {
    width: 200px;
    height: 300px;
    margin-left: 40px;
    margin-top: 40px;
    background: red;
    box-shadow: 0px 4px 11px rgba(0, 0, 0, 0.08);
    border-radius: 100px;
}