.before_item_div_ {
  width: 504px;
  height: 300px;
  margin-top: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: 1px solid #D9D9D9;
  border-radius: 15px;
  margin-bottom: 15px;
}

#before_img {
  width: 100%;
  object-fit: fill;
  height: 300px;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

.before_img_div {
  position: relative;
  width: 50%;
}

.after_img_div {
  position: relative;
  width: 50%;
}

#after_img {
  width: 100%;
  object-fit: fill;
  height: 300px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}
