.b_category {
    display: inline-block;
    flex-direction: column;
    width: 1025px;
}

.b_category > div {
    display: inline-block;
    width: 102px;
}

.b_categoryDiv {
    width: 81px;
    height: 90px;
}

img {
    width: 100%;
    object-fit: fill;
}