.category {
    display: inline-block;
    flex-direction: column;
    width: 814px;
}

.category > div {
    display: inline-block;
    width: 81px;
    cursor: pointer;
}

.categoryDiv {
    width: 81px;
    height: 90px;
    cursor: pointer;
}

img {
    width: 100%;
    object-fit: fill;
}