.check_user_ip_page {
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow: auto;
}

.check_user_ip_div {
    width: 1100px;
    height: 30px;
    display: flex;
    flex-direction: column;
    margin-top: 60px;
    margin-left: 25px;
}

.check_user_ip_search_div {
    margin-right: 25px;
    width: 250px;
    height: 25px;
    display: flex;
    background: #ffffff;
    border: 1px solid #d4d4d4;
    border-radius: 60px;
    padding-left: 10px;
    align-items: center;
}

.check_user_ip_title_div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.check_user_ip_body_div {
    width: 95%;
    height: 550px;
    margin-left: 20px;
    margin-top: 20px;
    background: #ffffff;
    box-shadow: 0px 4px 11px rgba(0, 0, 0, 0.08);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
}

.check_user_body {
    width: 95%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 30px;
    margin-left: 30px;
    margin-bottom: 30px;
}

.check_user_left_div {
    display: flex;
    flex-direction: column;
    width: 48%;
    height: 400px;
}

.check_user_ip_index_div {
    width: 100%;
    height: 40px;
    display: flex;
    flex-direction: row;
    background: #f5f5f5;
    border-bottom: 1px solid #d4d4d4;
    align-items: center;
}

.check_user_ip_items_div {
    width: 100%;
    display: flex;
    border-bottom: 1px solid #d4d4d4;
    align-items: center;
    flex-direction: column;
}

.check_user_ip_item_div {
    width: 100%;
    height: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#access_date {
    margin-left: 20px;
    font-weight: 500;
    font-size: 14px;
    color: #222222;
}

#user_ip {
    margin-left: 40px;
    font-weight: 500;
    font-size: 14px;
    color: #222222;
}

#check_user_ip_id {
    margin-left: 80px;
    font-weight: 500;
    font-size: 14px;
    color: #222222;
}

#check_user_ip_location {
    margin-left: 140px;
    font-weight: 500;
    font-size: 14px;
    color: #222222;
}

#access_date_data {
    margin-left: 20px;
    font-weight: 400;
    font-size: 14px;
    color: #444444;
}

#user_ip_data {
    margin-left: 20px;
    font-weight: 400;
    font-size: 14px;
    color: #444444;
}

#check_user_ip_id_data {
    margin-left: 20px;
    font-weight: 400;
    font-size: 14px;
    color: #444444;
}

#check_user_ip_location_data {
    margin-left: 40px;
    font-weight: 400;
    font-size: 14px;
    color: #444444;
}
