.check_user_index_left_div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.inquery_page_body {
    width: 1015.31px;
    height: 450px;;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 30px;
    margin-left: 30px;
    margin-bottom: 30px;
}

.check_user_index_right_div {
    width: 170.56px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.inquery_management_index_div {
    width: 100%;
    height: 40px;
    display: flex;
    flex-direction: row;
    background: #f5f5f5;
    border-bottom: 1px solid #d4d4d4;
    align-items: center;
    justify-content: space-between;
}

.inquery_item_div {
    width: 100%;
    height: 40px;
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid #d4d4d4;
    align-items: center;
    justify-content: space-between;
}

#inquery_date {
    font-size: 14px;
    font-weight: 500;
    color: #222222;
    margin-left: 20px;
    width: 74px;
    white-space: nowrap;
}

#inquery_id {
    font-size: 14px;
    font-weight: 500;
    color: #222222;
    margin-left: 35px;
}

#inquery_id_data {
    font-size: 14px;
    font-weight: 500;
    color: #222222;
    margin-left: 30px;
}

#inquery_answer {
    font-size: 14px;
    font-weight: 500;
    color: #222222;
}

#inquery_answer_data {
    font-size: 14px;
    font-weight: 500;
    margin-left: 15px;
    color: #E95454;
    display: flex;
    align-items: center;
}

#inquery_answer_data_click {
    font-size: 14px;
    font-weight: 500;
    margin-left: 15px;
    color: #54D888;
}

#inquery_action {
    font-size: 14px;
    font-weight: 500;
    color: #222222;
    margin-right: 40px;
}

.inquery_action_div {
    border: 1px solid #D4D4D4;
    border-radius: 20px;
    width: 80px;
    height: 28px;
    margin-right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}