.recommed_div {
    width: 100%;
    border-top: 1px solid #D4D4D4;
    margin-top: 0.5%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.recommend_title_div {
    margin-top: 3%;
    width: 51%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

#recommend_title {
    font-weight: 700;
    font-size: 1.5vw;
}

.hot_div {
    margin-left: 1%;
}

#hot {
    width: 2vw;
}

.dropbox_div {
    width: 51%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: 1.1%;
}