.review_image_div {
    display: flex;
    width: 100%;
    position: relative;
    border-top: 1px solid #D4D4D4;
    border-left: 1px solid #D4D4D4;
    border-right: 1px solid #D4D4D4;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

#review_image {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    height: 324px;
    object-fit: cover;
}

#description {
    overflow: hidden;
    text-overflow: ellipsis;
    align-content: flex-start;
    color: #FFF;
    margin-left: 8px;
    margin-top: 0;
    font-size: 14px;
    width: 298px;
    height: 36px;
    font-weight: 400;
    text-align: left;
}

#review_title {
    height: 27px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    align-content: flex-start;
    font-size: 22px;
    font-weight: 700;
    color: #FFF;
    width: 298px;
    text-align: start;
    margin-left: 6px;
    margin-bottom: 2px;
    margin-top: 0;
}

.review_main {
    display: inline-block;
    text-align: center;
    flex-direction: column;
    margin-top: 24px;
    width: 396px;
    cursor: pointer;
}

.review_text_div_ {
    width: 3960x;
    display: flex;
    position: absolute;
    align-items: flex-start;
    bottom: 14px;
    flex-direction: column;
    background: rgba(0, 0, 0, 0.37);
    filter: blur(50px);
}

.review_text_div {
    width: 198px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    bottom: 14px;
    flex-direction: column;
    margin-left: 8px;
}

.hospital_rate_info_div {
    display: flex;
    flex-direction: column;
    border-top: 1px solid #D4D4D4;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    margin-right: 0;
}

#hospital_name {
    margin-bottom: 5px;
    font-size: 22px;
    margin-left: 14px;
    margin-top: 10px;
    font-weight: 700;
    text-align: start;
}

.rate_start_div {
    display: flex;
    align-items: center; /* 수직으로 상단 정렬 */
    justify-content: flex-start; /* 수평으로 좌측 정렬 */
    flex-direction: row;
    margin: 0 0 12px 14px;
}

#hospital_rate {
    margin: 0 8px 2px 1px;
    font-size: 14px;
}

#surgery_part {
    margin: 0 8px 4px 0;
    color: #DDB0E3;
    font-weight: 600;
    font-size: 14px;
}

#doctor_name {
    margin: 0 0 2px;
    font-size: 14px;
    font-weight: 600;
    color: #222222;
}

.hospital_info_div {
    margin-right: 0;
    width: 100%;
}

@media (max-width:860px) { 
    .review_main {
        width: 49%;
    }

    .review_text_div {
        width: 100%;
        margin-left: 0;
    }

    .review_text_div_ {
        width: 100%;
    }

    #review_title {
        width: 94%;
        margin-left: 0;
        padding: 0 0 0 14px;
        font-size: 20px;
    }

    #description {
        width: 94%;
        margin-left: 0px;
        padding: 0 0 0 14px;
    }
} 

@media (max-width:680px) { 
    .review_main {
        width: 100%;
    }
} 

@media (max-width:480px) { 
    #surgery_part {
        width: 150px; 
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
} 