.review_item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 70px;
  align-items: center;
}

.left_review_item {
  display: flex;
  flex-direction: row;
}

p {
  margin: 0;
}

.profile_div {
  width: 50px;
  height: 50px;
  margin-left: 16px;
  margin-right: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title_div {
  text-align: start;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}

#review_item_title {
  height: 17px;
  width: 400px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-weight: 700;
  font-size: 16px;
  margin-top: 0.5px;
  margin-bottom: 0.5px;
  color: #222222;
}

#review_user {
  color: #666666;
  font-weight: 500;
  font-size: 14px;
}

#review_date {
  color: #d4d4d4;
  font-size: 12px;
}

.review_item_index_container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

.right_item_div {
  width: 270px;
  display: flex;
  justify-content: flex-start;
  margin-right: 24px;
  flex-direction: row;
  align-items: center;
}

.comment_div {
  display: flex;
  flex-direction: row;
  width: 55px;
  margin: 0 7px 40px 0;
}

#comment_number {
  font-size: 12px;
  font-weight: 400;
  margin-left: 2px;
  color: #444444;
  line-height: 10px;
}

#view_number {
  font-size: 12px;
  font-weight: 400;
  margin-left: 5px;
  color: #444444;
}

.comment_image_div {
  display: flex;
  width: 13px;
  height: 13px;
}

#comment_icon {
  width: 100%;
  height: 100%;
}

.view_info {
  display: flex;
  flex-direction: row;
  width: 50px;
  margin: 0 0 40px 0;
}

.view_info_div {
  display: flex;
  align-items: flex-start;
}

.view_div {
  display: flex;
  width: 16px;
  height: 16px;
}

#view_icon {
  width: 100%;
  height: 100%;
}

#view_number {
  font-size: 12px;
  font-weight: 400;
  margin-left: 2px;
  color: #444444;
}

#index_hospital_name,
#index_part_name,
#index_doctor_name {
  white-space: nowrap;
  font-size: 14px;
  font-weight: 700;
  color: #222222;
}

.info_div {
  margin-left: 2px;
  padding-top: 7px;
}

#review_item_info {
  white-space: nowrap;
  font-size: 12px;
  text-align: start;
  color: #666666;
}

.index_hospital_div {
  display: flex;
  flex-direction: row;
  margin-bottom: 3.2px;
  justify-content: flex-start;
}

.review_item_index_div {
  margin-top: 6px;
  display: flex;
  flex-direction: column;
  width: 160px;
}

.hospital_name_data {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

#review_hospital_info {
  white-space: nowrap;
  font-size: 12px;
  color: #666666;
  font-weight: 400;
  display: flex;
  justify-content: flex-start;
}

#review_doctor_info {
  white-space: nowrap;
  font-size: 12px;
  color: #666666;
  font-weight: 400;
}

#review_part_info {
  white-space: nowrap;
  font-size: 12px;
  color: #666666;
  font-weight: 400;
  margin-left: 1.43px;
}

#review_list_profile {
  width: 50px;
  height: 50px;
  object-fit: fill;
}

.hospital_name_div {
  width: 45px;
  display: flex;
  align-items: flex-start;
}

@media (max-width:860px) { 

  .right_item_div {
    width: 200px;
    height: 70px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  
  .review_item_index_div {
    width: 140px;
  }

  #review_item_title {
    width: 320px;
  }

  .left_review_item {
    margin: 0 12px 0 0;
  }

  .view_info {
    width: 30px;
    margin: 16px 0 0 0;
  }

  .comment_div {
    width: 30px;
    margin: 10px 0 0 0;
  }
} 

@media (max-width:680px) { 
  .review_item_index_div {
    width: 140px;
  }

  #review_item_title {
    width: 240px;
  }

  #review_list_profile {
    width: 40px;
    height: 40px;
  }

  .profile_div {
    width: 40px;
    margin-left: 12px;
    margin-right: 12px;
  }

  #review_item_title {
    font-size: 14px;
  }

  #review_user {
    font-size: 12px;
  }

  #review_date {
    font-size: 11px;
  }

 .review_item_index_div {
  margin-top: 10px;
 }

  #index_hospital_name {
    font-size: 12px;
  }

  #review_hospital_info {
    font-size: 11px;
  }

  .view_info {
    width: 30px;
  }

  .comment_div {
    width: 30px;
  }
} 

@media (max-width:560px) { 
  #review_item_title {
    width: 120px;
  }

  .review_item_index_div {
    width: 120px;
   }
} 

@media (max-width:399px) { 

   .view_info {
    display: none;
  }

  .comment_div {
    display: none;
  }
} 