.search_input_div {
    margin-top: 24.26px;
    border-radius: 25px;
    border: double 2.5px transparent;
    background-image: linear-gradient(white, white), 
                      linear-gradient(to right, #A891D4, #FAC1EC);
    background-origin: border-box;
    background-clip: content-box, border-box; 
    box-decoration-break: clone; 
    flex-direction: row;
     /* Add this line */
     box-shadow: 0 0 8px rgba(250, 193, 236, .7);
     width: 418px;
     height: 24px;
     justify-content: space-between;
     display: flex;
    flex-direction: row;
}

#search_input {
    border: none;
    outline: none;
    margin-top: 6px;
    margin-bottom: 4px;
    margin-left: 12px;
    padding: 0;
    width: 100%;
}

.search_button_div {
    width: 20.22px;
    height: 20.22px;
    margin-right: 2px;
    margin-top: 2px;
    cursor: pointer;
}

#search_form {
    width: 100%;
    justify-content: flex-start;
}

#search_button {
    width: 100%;
    height: 100%;
}

@media (min-width:320px) and (max-width:860px) { 
    .search_input_div {
         width: 360px;
    }
  } 