.footer {
    bottom: 0;
    position: fix;
    display: flex;
    width: 100%;
    height: fit-content;
    padding-left: 10%;
    flex-direction: column;
};

.footerDiv {
    flex: 1;
    display: flex;
    justify-content: start;
    width: 100%;
    height: fit-content;
}

p {
    margin-left: 1%;
}