.footer_body_div {
  background-color: #faf9fa;
  width: 100%;
  bottom: 0%;
  padding-top: 28px;
  padding-bottom: 42px;
}

.footer_info_div {
    margin-top: 14px;
    margin-left: 140px;
    display: flex;
    width: 11118.39px;
}

.footer_top_div {
    margin-top: 14px;
    margin-left: 140px;
    display: flex;
    width: 1118.39px;
}

.footer_inquery_info_div {
    margin-left: 140px;
    display: flex;
    width: 1118.39px;
}

#inquiry {
    white-space: nowrap;
    margin-right: 11.2px;
    color: #666666;
    font-size: 12px;
    font-weight: 400;
}

#inquiry_item {
    white-space: nowrap;
    margin-right: 11.2px;
    color: #222222;
    font-size: 12px;
    font-weight: 600;
}